{{ $src := .Page.Resources.GetMatch (.Get "src") }}

{{ if in (.Get "src") "http" }}
<img loading="lazy" src="{{$src}}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
{{ else }}
    {{ if in (.Get "src") ".gif" }}
    <img loading="lazy" src="{{$src.RelPermalink}}" {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
{{ else }}

{{/* set image sizes, these are hardcoded for now */}}

{{ $nativew := "1296x" }}
{{ $retinaw := "2592x" }}

{{/* resize the src image to the given sizes */}}
{{ .Scratch.Set "native" ($src.Resize $nativew) }}
{{ .Scratch.Set "retina" ($src.Resize $retinaw) }}

{{/* add the processed images to the scratch */}}
{{ $native := .Scratch.Get "native" }}
{{ $retina := .Scratch.Get "retina" }}

{{/* only use images smaller than or equal to the src (original) image size */}}
<img loading="lazy" 
  {{ with .Get "sizes" }}sizes='{{.}}'
  {{ else }}
    {{ end }}
  srcset='
  {{ if ge $src.Width "800" }}
    {{ with $native.RelPermalink }}{{.}} 1x{{ end }}
  {{ end }}
  {{ if ge $src.Width "2000" }}
    {{ with $retina.RelPermalink }}, {{.}} 2x{{ end }}
  {{ end }}'
  {{ if $native }}
        src="{{ $native.RelPermalink }}"
    {{ else }}
        src="{{ $src.RelPermalink }}"
  {{ end }}
  {{ with .Get "alt" }}alt="{{.}}"{{ else }}alt=""{{ end }}>
{{ end }}
{{ end }}